@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
font-family: 'Source Sans Pro', sans-serif;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.footer
{
background: #be1e2d;
}

.btn-custom
{
background-color: #be1e2d;
}

.callout {
border-left: 5px solid #BE1E2D;
background: #F6C2C7;
border-radius:5px;
}
